<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seven Seas</title>
    <link rel="stylesheet" href="../../assets/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
    <main class="international-apirants learning-path discover-purposes">
        <header class="header">
            <div class="top-bar">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="top-bar-left">
                            <div class="top-bar-whatsapp">
                                <img src="../../assets/images/whatsapp.png" alt="whatsapp">
                                <a href="tel:6476274200">(+1) 647 627 4200 Canada</a>
                                <a href="tel:7378271567">(+91) 737 827 1567 India</a>
                            </div>
                        </div>
                        <div class="top-bar-right">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <a href="tel:"><span>Toll Free:</span> (+1) 870-SSS-1842</a>
                                </li>
                                <li>
                                    <a href="tel:">inquiries@sevenseas.com</a>
                                </li>
                                <li>
                                    <a href="tel:">admissions@sevenseas.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <nav class="main-nav navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                  <a class="navbar-brand" href="../../index.html">
                    <img src="../../assets/images/logo.svg" class="img-fluid" alt="">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto flex-nowrap">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../institutes/institutes.html">Institutes</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../programs/programs.html">Programs</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../countries/countries.html">Countries</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="../services/international-aspirants.html">International
                              Aspirants</a>
                          </li>
                          <li><a class="dropdown-item" href="../services/recruiting-agent.html">Recruiting
                              Agent</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          About
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="../services/discover-purpose.html">Our
                              Story</a></li>
                          <li><a class="dropdown-item" href="../about/blog.html">Talk & Walk</a></li>
                          <li><a class="dropdown-item" href="../about/management.html">Management</a>
                          </li>
                          <li><a class="dropdown-item" href="../about/featured-news.html">News &
                              Events</a></li>
                          <li><a class="dropdown-item" href="../about/blog-2.html">BLOG</a></li>
                          <li><a class="dropdown-item" href="../about/contact-us.html">CONTACT US</a>
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item auth-buttons">
                        <a class="btn mx-md-3" href="../authentication/signup-details.html">
                          Sign Up
                        </a>
                        <a class="btn" href="../authentication/user-login-details.html">
                          Login
                        </a>
                      </li>
                      <li class="nav-item user-profile">
                        <a class="nav-link" href="../authentication/signup-details.html">
                          <img src="../../assets/images/user-s.png" class="img-fluid" alt="">
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>
        <section class="home-hero discover-bg background-adjust pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-0">At Your Ease,<br class="d-sm-block"> Seven Seas</h2>
                        <h3 class="fs-3 fw-bold mb-4"><em>Discover Purposes!</em></h3>
                        <p class="fst-normal fs-4">Stepping Stone towards A Brighter Future with Studying ABroad and Unlocking the Key to Best Education.</p>
                        <p class="fst-normal fw-bold fs-4"><em>Changing Lives and an Asset to Upcoming Generations.</em></p>
                        <button class="btn primary-btn d-sm-flex  text-white btn-size-32 mt-3 pt-3 pb-3">Look How?</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="story-section bg-c-discover">
            <div class="container">
                <div class="text-center pt-4">
                    <button class="btn btn-bg-blue pe-none text-white p-1 ps-5 pe-5 fs-36 fw-bold br-10 mt-5 mb-5">Our Story</button>                   
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="col-sm-9">
                        <div class="story-text p-4 ps-5 pe-5 bg-white br-25">
                            <p class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seven Seas facilitate the learning and education path for all, be it an international aspirant, recruiting agent or partner schools. We are well aware about the problems a student faces being on the track of education.</p>
                            <p>We believe in making the complex procedure an easier one for you. International students get a live search platform for the institutions along with standardized exams or test preparation centers to choose from as per their ease and affordability.</p>
                            <p class="m-0">Till date, Seven Seas has become the best online platform for international students, supporting 200000+ international students in their educational world and achieve success.</p>
                        </div>
                    </div>
                </div>
                <section class="who-are-we">
                    <div class="text-center pt-4 mt-4">
                        <span class="me-xl-5"></span>
                        <span class="me-xl-5"></span>
                        <span class="me-xl-5"></span>
                        <span class="me-xl-5"></span>
                        <button class="btn pe-none btn-bg-brawn text-white p-1 ps-5 pe-5 fs-36 fw-bold br-10 mt-5 mb-5">Who Are We?</button>                   
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 text-center">
                            <img class="img-fluid" src="./../../assets/images/who-are-we.svg" alt="">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div>
                                <figure class="position-relative mt-5">
                                    <blockquote class="blockquote">
                                        <p>Seven Seas Education Services got incubated with a vision of making a convenient journey of international students and scholars along with providing an opportunity to get settled in Canada. We have exceptional expertise in providing English language improvement teachings and Personality development training especially to the young aspirants facing barriers during student life in Canada. Our experienced and best staff assists our clients with the aid of our connections with various firms in both India and Canada. An understudy may expect start to finish administrations from us and from our accomplice associations too. We help people to choose programs, colleges, advise in submitting papers to acquire admission, and so forth.</p>
                                        <p>Our accomplice associations give their best client administrations in India while, Seven Seas Educational agents, based in Canada, orchestrates convenience and guides folks so that they and their guardians can expect splendid outcomes.</p>
                                    </blockquote>
                                </figure>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mt-5">
                    <div class="row justify-content-center">
                        <div class="col-sm-9 br-25 educational-services">
                            <div class="bg-white ps-md-5 pe-md-5">
                                <div class="p-5">
                                    <h3 class="fs-36 fw-bold mb-4 tex">Why Seven Seas Canada Educational Services?</h3>
                                    <div class="pb-3">
                                        <h6 class="fw-500 text-light-blue">We Provide Expert and Individual Guidance: </h6>
                                        <p class="fs-6">Our top accomplice associations give personalized consideration from the earliest starting point until the finish of the services. It implies that we back up at every step and helps every understudy/ scholar to pick the correct organization, course, province/ location, and so forth.</p>
                                    </div>
                                    <div class="pb-3">
                                        <h6 class="fw-500 text-light-blue">Canada Focus: </h6>
                                        <p class="fs-6">We are based, and our focused center is Canada only. Our clients have experienced and thus may anticipate a raised level of quality in our services when compared with other existing counseling firms that offer comparable administrations. Our clients' satisfaction and students' success is our priority.</p>
                                    </div>
                                    <div class="pb-3">
                                        <h6 class="fw-500 text-light-blue">One-Stop Solution: </h6>
                                        <p class="fs-6">We are a one-stop answer for all of your study needs while you long for Canada. We look forward only to assist you with past desires to accomplish your fantasies.</p>
                                    </div>
                                    <div class="pb-3">
                                        <h6 class="fw-500 text-light-blue">Economical Service Charges: </h6>
                                        <p class="fs-6">Our charges for the services that we render relies on the measure of help an understudy/ person may require. In some cases, our accomplices don't charge a solitary penny dependent on the understudy's scholarly achievements and future objective.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <section class="bg-c-discover extended pb-md-5 pb-sm-3 pb-2">
            <div class="container text-center mb-4">
                <div class="d-flex justify-content-center">
                    <div class="col-sm-12 mt-md-5">
                        <button class="fs-36 br-20 btn bg-dark-violet br-10-0 text-white fw-500 width-100 col-sm-4 mt-5 pt-0 pb-0">Why Study in Canada?</button>
                        <p class="fw-light fs-36 mt-4">Dream Country to International Students</p>
                    </div>
                </div>
                <div class="col-12 pt-md-4 why-canada">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mt-5">
                            <img class="img-fluid transformed" src="./../../assets/images/quality-education.svg" alt="">
                            <button class="btn  width-92 pe-none br-20 text-white fs-4 fw-bold bg-pinkish-magenta ps-3 pe-3 pt-2 pb-2">Quality Education</button>
                            <p class="p-md-3 p-sm-3 p-2  mt-3 mb-4 br-20 ms-3 me-3 bg-light-sky-blue h-40">A blend of growing economy, diverse culture, best education institutes make Canada an ideal choice for Indian and other international students to study and fulfill their dreams.</p>
                        </div>
                        <div class="col-sm-6 col-md-4 mt-5">
                            <img class="img-fluid transformed" src="./../../assets/images/opportunities.svg" alt="">
                            <button class="btn  width-92 pe-none br-20 text-white fs-4 fw-bold bg-pinkish-magenta ps-3 pe-3 pt-2 pb-2">Opportunities</button>
                            <p class="p-md-3 p-sm-3 p-2  mt-3 mb-4 br-20 ms-3 me-3 bg-light-sky-blue h-40">Having an opportunity to study from any Canadian Educational Institute was bliss! spoke the alumni and the well-settled Indian Immigrants.</p>
                        </div>
                        <div class="col-sm-6 col-md-4 mt-5">
                            <img class="img-fluid transformed" src="./../../assets/images/affordability.svg" alt="">
                            <button class="btn  width-92 pe-none br-20 text-white fs-4 fw-bold bg-pinkish-magenta ps-3 pe-3 pt-2 pb-2">Affordability</button>
                            <p class="p-md-3 p-sm-3 p-2  mt-3 mb-4 br-20 ms-3 me-3 bg-light-sky-blue h-40">Educational Cost and Living Expenses are concern for international students, based on candaian provinces and listening from pre-existing immigrants they express it as affordable.</p>
                        </div>
                        <div class="col-sm-6 col-md-4 mt-5">
                            <img class="img-fluid transformed" src="./../../assets/images/immigrations.svg" alt="">
                            <button class="btn  width-92 pe-none br-20 text-white fs-4 fw-bold bg-pinkish-magenta ps-3 pe-3 pt-2 pb-2">Immigrations</button>
                            <p class="p-md-3 p-sm-3 p-2  mt-3 mb-4 br-20 ms-3 me-3 bg-light-sky-blue h-40">Cultural shock, homesickness, and confusion about how to make new friends are some hardships that international students face initially. But Canada is known for its inviting nature, being multicultural society, it welcoming people all around the world.</p>
                        </div>
                        <div class="col-sm-6 col-md-4 mt-5">
                            <img class="img-fluid " src="./../../assets/images/scholarships.svg" alt="">
                            <button class="btn  width-92 pe-none br-20 text-white fs-4 fw-bold bg-pinkish-magenta ps-3 pe-3 pt-2 pb-2">Scholarships</button>
                            <p class="p-md-3 p-sm-3 p-2  mt-3 mb-4 br-20 ms-3 me-3 bg-light-sky-blue h-40">Canadian Government has listed various scholarship opportunities to ease higher education access for international aspirants from different backgrounds, based on career options and programs one opt for.</p>
                        </div>
                        <div class="col-sm-6 col-md-4 mt-5">
                            <img class="img-fluid transformed" src="./../../assets/images/safety-and-health.svg" alt="">
                            <button class="btn  width-92 pe-none br-20 text-white fs-4 fw-bold bg-pinkish-magenta ps-3 pe-3 pt-2 pb-2">Safety and Health</button>
                            <p class="p-md-3 p-sm-3 p-2  mt-3 mb-4 br-20 ms-3 me-3 bg-light-sky-blue h-40">Canada is a country which is renowned for its free health care system and lower crime rates than any other countries. The government is doing every possible effort in making it a Best Residential Place.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
        <section class="bg-c-discover extended pb-sm-3 pb-2 commitment">
            <div class="container text-center mb-4">
                <div class="d-flex justify-content-center">
                    <div class="col-sm-12 mt-md-5">
                        <button class="fs-36 br-10 btn  btn-style text-white fw-500 width-100 col-sm-4 mt-md-5 bg-dark-blue pt-3 pb-3">Our Commitment</button>
                        <p class="text-blue text-center fs-2 fw-bold mt-2">We Believe in:</p>
                    </div>
                </div>
                <div class="col-12 mt-md-2 pt-md-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4 mt-5 extended">
                            <img class="img-fluid scale" src="./../../assets/images/assiting-aspirants.svg" alt="">
                            <button class="btn  width-92 pe-none br-20 text-white fs-4 fw-bold btn-skyblue ps-3 pe-3 pt-2 pb-2">Assisting Aspirants<br class="d-none d-sm-block"> Gain Success</button>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 mt-5 extended">
                            <img class="img-fluid " src="./../../assets/images/humanity-care.svg" alt="">
                            <button class="btn  width-92 pe-none br-20 text-white fs-4 fw-bold btn-skyblue ps-3 pe-3 pt-2 pb-2">Humanity and <br class="d-none d-sm-block">Care for All</button>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                            <img class="img-fluid transform-translate" src="./../../assets/images/fun-enguaging.svg" alt="">
                            <button class="btn  width-92 pe-none br-20 text-white fs-4 fw-bold btn-skyblue ps-3 pe-3 pt-2 pb-2">Fun and Engaging<br class="d-none d-sm-block"> Activities</button>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 mt-5 extended">
                            <img class="img-fluid scale" src="./../../assets/images/accountability.svg" alt="">
                            <button class="btn  width-92 pe-none br-20 text-white fs-4 fw-bold btn-skyblue ps-3 pe-3 pt-2 pb-2">Accountability</button>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 mt-5">
                            <img class="img-fluid " src="./../../assets/images/room-growth.svg" alt="">
                            <button class="btn  width-92 pe-none br-20 text-white fs-4 fw-bold btn-skyblue ps-3 pe-3 pt-2 pb-2">Room for Growth</button>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 mt-5 custom-adjust extended">
                            <img class="img-fluid" src="./../../assets/images/pro-service.svg" alt="">
                            <button class="btn  width-92 pe-none br-20 text-white fs-4 fw-bold btn-skyblue ps-3 pe-3 pt-2 pb-2">Pro Service</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="our-pride common-peach-section">
            <div class="container pt-5 pb-5">
                <div class="title text-center mb-5">
                    <p class="title fw-500">Look @ Figures</p>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-sm-4">
                       <div class="shadow rounded-pill text-center bg-white fs-2 pt-3 pb-3 mb-5">
                            <p class="mb-1">200000+</p>
                            <p class="m-0">International Aspirants</p>
                       </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="shadow rounded-pill text-center bg-white fs-2 pt-3 pb-3 mb-5">
                             <p class="mb-1">100000+</p>
                             <p class="m-0">Programs</p>
                        </div>
                     </div>
                    <div class="col-sm-4">
                        <div class="shadow rounded-pill text-center bg-white fs-2 pt-3 pb-3 mb-5">
                             <p class="mb-1"> 150+ </p>
                             <p class="m-0">Countries</p>
                        </div>
                     </div>                     
                    <div class="col-sm-4">
                       <div class="shadow rounded-pill text-center bg-white fs-2 pt-3 pb-3 mb-5">
                            <p class="mb-1">7500+</p>
                            <p class="m-0">Recruiting Agents</p>
                       </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="shadow rounded-pill text-center bg-white fs-2 pt-3 pb-3 mb-5">
                             <p class="mb-1"> 1500+ </p>
                             <p class="m-0">Partner Schools</p>
                        </div>
                     </div>
                     <div class="col-sm-4">
                        <div class="shadow rounded-pill text-center bg-white fs-2 pt-3 pb-3 mb-5">
                             <p class="mb-1">95%</p>
                             <p class="m-0">Acceptance Rate</p>
                        </div>
                     </div>                     
                </div>
            </div>
        </section>
        <section class="bg-c-discover">
            <div class="container text-center pt-5">
                <button class="mt-4 btn bg-white ps-4 p-0 pe-4 fs-36 br-10">Associates Globally</button>
                <div class="row align-items-center justify-content-center">
                    <div class="col-sm-10 mt-5 mb-5">
                        <img class="img-fluid" src="./../../assets/images/static-map.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="address">
                            <h3>Contact Us:</h3>
                            <div>
                                <label>Address :</label>
                                <span> 4170 Still Creek Drive Suite 200, Burnaby, British Columbia, Canada
                                </span>
                            </div>
                            <div>
                                <label>Phone :</label> <span>+1 778-387-4627</span>
                            </div>
                            <div>
                                <label>Email :</label> <a href="">help@sevenseascanada.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="news">
                            <h3>Newsletter</h3>
                            <label>Stay updated with our latest blogs.</label>
                            <div class="input-group my-3">
                                <input type="text" placeholder="Enter your Email Address" class="form-control">
                                <button class="btn btn-outline-secondary" type="button">
                                    <img src="../../assets/images/arrow.png" alt="">
                                </button>
                            </div>
                            <label>Blogs</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 text-md-end">
                        <div class="social-ico">
                            <a href=""><img src="../../assets/images/facebook.png"></a>
                            <a href=""><img src="../../assets/images/instagram.png"></a>
                            <a href=""><img src="../../assets/images/twitter.png"></a>
                            <a href=""><img src="../../assets/images/linkedin.png"></a>
                            <a href=""><img src="../../assets/images/mail.png"></a>
                        </div>
                        <label class="d-block">Monday to Friday 8:00AM to 4:30PM</label>
                        <label>Saturday &amp; Sunday: closed</label>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="../../assets/library/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>