<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seven Seas</title>
    <link rel="stylesheet" href="../../assets/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
    <main class="international-apirants">
        <header class="header">
            <div class="top-bar">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="top-bar-left">
                            <div class="top-bar-whatsapp">
                                <img src="../../assets/images/whatsapp.png" alt="whatsapp">
                                <a href="tel:6476274200">(+1) 647 627 4200 Canada</a>
                                <a href="tel:7378271567">(+91) 737 827 1567 India</a>
                            </div>
                        </div>
                        <div class="top-bar-right">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <a href="tel:"><span>Toll Free:</span> (+1) 870-SSS-1842</a>
                                </li>
                                <li>
                                    <a href="tel:">inquiries@sevenseas.com</a>
                                </li>
                                <li>
                                    <a href="tel:">admissions@sevenseas.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <nav class="main-nav navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                  <a class="navbar-brand" href="../../index.html">
                    <img src="../../assets/images/logo.svg" class="img-fluid" alt="">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto flex-nowrap">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../institutes/institutes.html">Institutes</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../programs/programs.html">Programs</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../countries/countries.html">Countries</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="../services/international-aspirants.html">International
                              Aspirants</a>
                          </li>
                          <li><a class="dropdown-item" href="../services/recruiting-agent.html">Recruiting
                              Agent</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          About
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="../services/discover-purpose.html">Our
                              Story</a></li>
                          <li><a class="dropdown-item" href="../about/blog.html">Talk & Walk</a></li>
                          <li><a class="dropdown-item" href="../about/management.html">Management</a>
                          </li>
                          <li><a class="dropdown-item" href="../about/featured-news.html">News &
                              Events</a></li>
                          <li><a class="dropdown-item" href="../about/blog-2.html">BLOG</a></li>
                          <li><a class="dropdown-item" href="../about/contact-us.html">CONTACT US</a>
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item auth-buttons">
                        <a class="btn mx-md-3" href="../authentication/signup-details.html">
                          Sign Up
                        </a>
                        <a class="btn" href="../authentication/user-login-details.html">
                          Login
                        </a>
                      </li>
                      <li class="nav-item user-profile">
                        <a class="nav-link" href="../authentication/signup-details.html">
                          <img src="../../assets/images/user-s.png" class="img-fluid" alt="">
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>
        <section class="home-hero int-service-bg background-adjust pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>International Aspirants</h2>
                        <p class="fst-normal font-family-style-normal">Seven Seas links foreign or international
                            aspirants with recruitment partners towards
                            education path and career opportunities in the Canadian World.
                        </p>
                        <a href="../authentication/user-sinup.html" class="btn primary-btn  text-white btn-size-32 mt-5">Register Now</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="online-booking online-booking-int-asp position-relative pb-5 pt-3">
            <div class="container text-center ">
                <h2 class="text-white text-uppercase mt-3">study visa jounery</h2>
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="100000">
                            <div class="d-block w-100 mb-5">
                                <figure class="pt-3">
                                    <img src="./../../assets/images/page-2-sec1.png" class="img-fluid" alt="">
                                    <figcaption class="fs-36 fw-bold mt-3">Step 1</figcaption>
                                </figure>
                                <p class="fs-3 fw-500">Apply to College</p>
                                <div class="d-flex justify-content-center">
                                    <p class="col-sm-5 fs-3 mb-1 tructed-text mt-2 mb-5">Choose the best college and course, update your
                                        profile, submit
                                        documents and pay a fee.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="d-block w-100 mb-5">
                                <figure class="pt-3">
                                    <img src="./../../assets/images/page-2-sec1.png" class="img-fluid" alt="">
                                    <figcaption class="fs-36 fw-bold mt-3">Step 2</figcaption>
                                </figure>
                                <p class="fs-3 fw-500">Apply to College</p>
                                <div class="d-flex justify-content-center">
                                    <p class="col-sm-5 fs-3 mb-1 tructed-text mt-2 mb-5">Choose the best college and course, update your
                                        profile, submit
                                        documents and pay a fee.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-block w-100 mb-5">
                                <figure class="pt-3">
                                    <img src="./../../assets/images/page-2-sec1.png" class="img-fluid" alt="">
                                    <figcaption class="fs-36 fw-bold mt-3">Step 3</figcaption>
                                </figure>
                                <p class="fs-3 fw-500">Apply to College</p>
                                <div class="d-flex justify-content-center">
                                    <p class="col-sm-5 fs-3 mb-1 tructed-text mt-2 mb-5">Choose the best college and course, update your
                                        profile, submit
                                        documents and pay a fee.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="career-programs">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 col-12 d-flex align-items-center justify-dontent-center">
                        <img class="img-fluid " src="./../../assets/images/page-2-sec2.png" alt="">
                    </div>
                    <div class="col-lg-6 col-12 d-flex align-items-center justify-dontent-center">
                        <div>
                            <p class="bg-white fs-2 fst-italic red-text fw-bold  p-2 ps-4 right-section">Best
                                &nbsp;&nbsp;Career &nbsp;&nbsp;Choice &nbsp;&nbsp;with &nbsp;&nbsp;Distinct Programs And
                                Institutions!</p>
                            <p class="mt-lg-5 mt-md-3 fw-500">Choose Best Career options along with program and course selection
                                including
                                scholarship avenues in each preferable institute.</p>
                            <div class="d-flex justify-content-center mt-lg-5 mt-md-3 pt-3">
                                <a href="../programs/programs.html" class="btn primary-btn  text-white fs-2 fw-bold">Explore Programs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="study-section">
            <div class="container text-center">
                <div class="d-flex justify-content-center">
                    <div class="col-sm-12">
                        <button class="btn btn-warning btn-style fw-bold text-white width-100 col-sm-9 mt-5">A World of
                            International Experience!</button>
                        <p class="fs-36 text-study mt-4 fw-500">
                            <span>Seven Seas Education Service, enlisted as </span> Canadian Federal Organization, Open
                            the Doors to:
                        </p>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <img class="img-fluid " src="./../../assets/images/icons-se-p2-3.png" alt="">
                            <button class="btn btn-warning br-20 text-white fw-bold fs-48 ps-5 pe-5 pe-none">Student
                                Diversity</button>
                        </div>
                        <div class="col-md-6 col-12">
                            <img class="img-fluid " src="./../../assets/images/page-2-sec3-b.png" alt="">
                            <button class="btn btn-warning br-20 text-white fw-bold fs-48 ps-5 pe-5 pe-none">Cultural
                                Harmony</button>
                        </div>
                        <div class="col-md-6 col-12 mt-lg-5 mt-md-3">
                            <img class="img-fluid " src="./../../assets/images/page-2-sec3-c.png" alt="">
                            <button class="btn btn-warning br-20 text-white fw-bold fs-48 ps-5 pe-5 mt-1 pe-none">Quality
                                Education</button>
                        </div>
                        <div class="col-md-6 col-12 mt-lg-5 mt-md-3">
                            <img class="img-fluid mt-4 pt-2" src="./../../assets/images/page-2-sec3-d.png" alt="">
                            <button class="btn btn-warning br-20 text-white fw-bold fs-48 ps-5 pe-5 mt-2 pe-none">Global
                                Exposure</button>
                        </div>
                    </div>
                    <div class="col-12 mt-md-3 mt-lg-5 pt-lg-5 mt-md-3 text-center pb-5">
                        <a href="exploring-universities.html" class="btn btn-warning text-white btn-style fs-2 fw-bold mt-2 p-1 ps-4 pe-4 ">Explore
                            Universities</a>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade overflow-hidden" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container text-center pt-3 pb-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="img-fluid" src="./../../assets/images/page-2-c1.png" alt="">
                                    <button class="btn primary-btn pt-3 pb-3 text-white fs-2 fw-bold text-uppercase">universities</button>
                                </div>
                                <div class="col-sm-6">
                                    <img class="img-fluid" src="./../../assets/images/page-2-c2.png" alt="">
                                    <button class="btn primary-btn pt-3 pb-3 text-white fs-2 fw-bold text-uppercase">Colleges</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="student-facilities">
            <div class="container">
                <div class="row justify-content-center pt-lg-5 pt-md-3 pb-lg-5 pb-md-3">
                    <div class="col-sm-3 d-flex align-items-center justify-content-center mt-3">
                        <img class="img-fluid" src="./../../assets/images/page-2-sec4-a.png" alt="">
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-md-8 col-12">
                        <div class="col-11">
                            <div class="mt-3 pt-3">
                                <button class="btn primary-btn pt-3 pb-3 text-white fs-2 fw-bold pe-none">Admission Counselling </button>
                            </div>
                            <h4 class="fw-bold mt-4 fs-2 ps-3">Right Counselling on Right Time makes an Impact!</h4>
                            <p class="pt-4 fs-3 ps-3 pe-5 fw-500">Seven Seas assists international students on admission parameters, eligibility criteria, admission procedure, choice of programs and diverse set of institutions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="student-facilities">
            <div class="container">
                <div class="row justify-content-center pt-lg-5 pt-md-3 pb-lg-5 pb-md-3">
                    <div class="col-md-8 col-12">
                        <div class="col-11">
                            <div class="mt-3 pt-3">
                                <button class="btn primary-btn pt-3 pb-3 text-white fs-2 fw-bold pe-none">IELTS Test Preparation </button>
                            </div>
                            <h4 class="fw-bold mt-4 fs-2 ps-3 fst-italic">You Know, What Leads to Success in IELTS Exam?</h4>
                            <p class="pt-4 fs-3 ps-3 pe-5 mb-0 fw-500"fw-500>Seven Seas unlocks your key to IELTS Success guiding upon Test Modules and Format along with avoiding common mistakes.</p>
                            <p class="pt-0 fs-3 ps-3 pe-5 fw-500">Every Year, we are training 1000+ students in clearing IELTS with 7+ Bands.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 d-flex align-items-center mt-3">
                        <img class="img-fluid" src="./../../assets/images/page-2-sec4-b.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="student-facilities">
            <div class="container">
                <div class="row justify-content-center pt-lg-5 pt-md-3 pb-lg-5 pb-md-3">
                    <div class="col-sm-3 d-flex align-items-center justify-content-center mt-3">
                        <img class="img-fluid" src="./../../assets/images/page-2-sec4-c.png" alt="">
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-md-8 col-12">
                        <div class="col-11">
                            <div class="mt-3 pt-3">
                                <button class="btn primary-btn pt-3 pb-3 text-white fs-2 fw-bold pe-none">Technical Training </button>
                            </div>
                            <p class="pt-4 fs-3 ps-3 pe-5 fw-500">If you are searching for different training under one roof, Seven Seas is the best training center for you. Our Technical professionals are always ready to assist you on technical programs and make you a tech-savvy expert.</p>
                            <h4 class="fw-bold mt-4 fs-2 ps-3 fst-italic"> Opportunities are waiting for you! It is an ever growing field!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="student-facilities">
            <div class="container">
                <div class="row justify-content-center pt-lg-5 pt-md-3 pb-lg-5 pb-md-3">
                    <div class="col-md-8 col-12">
                        <div class="col-11">
                            <div class="mt-3 pt-3">
                                <button class="btn primary-btn pt-3 pb-3 text-white fs-2 fw-bold pe-none">Job Recruitment Assistance </button>
                            </div>
                            <h4 class="fw-bold mt-4 fs-2 ps-3 fst-italic">Worried about What after Study?</h4>
                            <p class="pt-4 fs-3 ps-3 pe-5 mb-0 fw-500">Our experts are open to connect you with best career professionals, job recruitment service providers and career boards for safe migration and stay in Canada.</p>                           
                        </div>
                    </div>
                    <div class="col-sm-3 d-flex align-items-center mt-3">
                        <img class="img-fluid" src="./../../assets/images/page-2-sec4-d.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="student-facilities">
            <div class="container">
                <div class="row justify-content-center pt-lg-5 pt-md-3 pb-lg-5 pb-md-3">
                    <div class="col-sm-3 d-flex align-items-center mt-3 justify-content-center">
                        <img class="img-fluid" src="./../../assets/images/page-2-sec4-e.png" alt="">
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-md-8 col-12">
                        <div class="col-11">
                            <div class="mt-3 pt-3">
                                <button class="btn primary-btn pt-3 pb-3 text-white fs-2 fw-bold pe-none">Study Visa Advice </button>
                            </div>
                            <p class="pt-4 fs-3 ps-3 pe-5 fw-500">Canada, most preferred destination for international students! Seven Seas guide upon every aspect of studying abroad from Study Visa, Application Procedure, Scholarship, Visa refusal and Intakes.</p>
                            <h4 class="fw-bold mt-4 fs-2 ps-3 fst-italic">One Stop Solution for Dream World!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="student-facilities">
            <div class="container">
                <div class="row justify-content-center pt-lg-5 pt-md-3 pb-lg-5 pb-md-3">
                    <div class="col-md-8 col-12">
                        <div class="col-11">
                            <div class="mt-3 pt-3">
                                <button class="btn primary-btn pt-3 pb-3 text-white fs-2 fw-bold pe-none">Institutes Admission </button>
                            </div>
                            <p class="pt-4 fs-3 ps-3 pe-5 mb-0"><span class=" fw-light">Seven Seas has partnered with 200+ institutes across Canada to connect students with their dream world. We aim at providing</span> <strong><em>a recognized Canadian Degree acting as the best career choice</em></strong> <span class=" fw-light"> a including a varied choice of programs with a diverse set of institutions.</span></p>                           
                        </div>
                    </div>
                    <div class="col-sm-3 d-flex align-items-center mt-3">
                        <img class="img-fluid" src="./../../assets/images/page-2-sec4-f.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="student-facilities">
            <div class="container">
                <div class="row justify-content-center pt-lg-5 pt-md-3 pb-lg-5 pb-md-3">
                    <div class="col-sm-3 d-flex align-items-center mt-3 justify-content-center">
                        <img class="img-fluid" src="./../../assets/images/page-2-sec4-g.png" alt="">
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-md-8 col-12">
                        <div class="col-11">
                            <div class="mt-3 pt-3">
                                <button class="btn primary-btn pt-3 pb-3 text-white fs-2 fw-bold pe-none">Resume Building </button>
                            </div>
                            <p class="pt-4 fs-3 ps-3 pe-5">A resume or CV enhances your personality. This sheet of paper defines your future goals. Our professionals feel happy to assist you in writing a personalized resume based upon your interest areas. </p>
                            <h4 class="fw-bold mt-4 fs-2 ps-3 fst-italic">Giving Your Resume, a Human Tone!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="student-facilities">
            <div class="container">
                <div class="row justify-content-center pt-lg-5 pt-md-3 pb-lg-5 pb-md-3">
                    <div class="col-md-8 col-12">
                        <div class="col-11">
                            <div class="mt-3 pt-3">
                                <button class="btn primary-btn pt-3 pb-3 text-white fs-2 fw-bold pe-none">English Language Training </button>
                            </div>
                            <p class="pt-4 fs-3 ps-3 pe-5 mb-0 fw-500">If you are planning to enhance english and learn about Canadian or Foreign slang, phrases, pace or tone. </p>                           
                            <p class="pt-4 fs-3 ps-3 pe-5 mb-0"> <strong><em>You are at Right Place!</em></strong> <span class="fw-light">Providing language training and helping overcome language barriers is one of our professional top services.</span> </p>                           
                        </div>
                    </div>
                    <div class="col-sm-3 d-flex align-items-center mt-3">
                        <img class="img-fluid" src="./../../assets/images/page-2-sec4-h.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="student-facilities">
            <div class="container">
                <div class="row justify-content-center pt-lg-5 pt-md-3 pb-3 pb-lg-5 pb-md-3">
                    <div class="col-sm-3 d-flex align-items-center mt-3 justify-content-center">
                        <img class="img-fluid" src="./../../assets/images/page-2-sec4-i.png" alt="">
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-md-8 col-12">
                        <div class="col-11">
                            <div class="mt-3 pt-3">
                                <button class="btn primary-btn pt-3 pb-3 text-white fs-2 fw-bold pe-none">Personality Development Classes </button>
                            </div>
                            <h4 class="fw-bold mt-4 fs-2 ps-3 fst-italic"> Your Personality speaks a lot About You!</h4>
                            <p class="pt-4 fs-3 ps-3 pe-5 fw-500">We have special personality classes focusing on body language and gestures while interacting and interviewing with industry experts, giving you an international exposure and perspective.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="address">
                            <h3>Contact Us:</h3>
                            <div>
                                <label>Address :</label>
                                <span> 4170 Still Creek Drive Suite 200, Burnaby, British Columbia, Canada
                                </span>
                            </div>
                            <div>
                                <label>Phone :</label> <span>+1 778-387-4627</span>
                            </div>
                            <div>
                                <label>Email :</label> <a href="">help@sevenseascanada.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="news">
                            <h3>Newsletter</h3>
                            <label>Stay updated with our latest blogs.</label>
                            <div class="input-group my-3">
                                <input type="text" placeholder="Enter your Email Address" class="form-control">
                                <button class="btn btn-outline-secondary" type="button">
                                    <img src="../../assets/images/arrow.png" alt="">
                                </button>
                            </div>
                            <label>Blogs</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 text-md-end">
                        <div class="social-ico">
                            <a href=""><img src="../../assets/images/facebook.png"></a>
                            <a href=""><img src="../../assets/images/instagram.png"></a>
                            <a href=""><img src="../../assets/images/twitter.png"></a>
                            <a href=""><img src="../../assets/images/linkedin.png"></a>
                            <a href=""><img src="../../assets/images/mail.png"></a>
                        </div>
                        <label class="d-block">Monday to Friday 8:00AM to 4:30PM</label>
                        <label>Saturday &amp; Sunday: closed</label>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="../../assets/library/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>