<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seven Seas</title>
    <link rel="stylesheet" href="../../assets/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
    <main class="countries">
        <header class="header">
            <div class="top-bar">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="top-bar-left">
                            <div class="top-bar-whatsapp">
                                <img src="../../assets/images/whatsapp.png" alt="whatsapp">
                                <a href="tel:6476274200">(+1) 647 627 4200 Canada</a>
                                <a href="tel:7378271567">(+91) 737 827 1567 India</a>
                            </div>
                        </div>
                        <div class="top-bar-right">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <a href="tel:"><span>Toll Free:</span> (+1) 870-SSS-1842</a>
                                </li>
                                <li>
                                    <a href="tel:">inquiries@sevenseas.com</a>
                                </li>
                                <li>
                                    <a href="tel:">admissions@sevenseas.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <nav class="main-nav navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                  <a class="navbar-brand" href="../../index.html">
                    <img src="../../assets/images/logo.svg" class="img-fluid" alt="">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto flex-nowrap">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../institutes/institutes.html">Institutes</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../programs/programs.html">Programs</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../countries/countries.html">Countries</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="../services/international-aspirants.html">International
                              Aspirants</a>
                          </li>
                          <li><a class="dropdown-item" href="../services/recruiting-agent.html">Recruiting
                              Agent</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          About
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="../services/discover-purpose.html">Our
                              Story</a></li>
                          <li><a class="dropdown-item" href="../about/blog.html">Talk & Walk</a></li>
                          <li><a class="dropdown-item" href="../about/management.html">Management</a>
                          </li>
                          <li><a class="dropdown-item" href="../about/featured-news.html">News &
                              Events</a></li>
                          <li><a class="dropdown-item" href="../about/blog-2.html">BLOG</a></li>
                          <li><a class="dropdown-item" href="../about/contact-us.html">CONTACT US</a>
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item auth-buttons">
                        <a class="btn mx-md-3" href="../authentication/signup-details.html">
                          Sign Up
                        </a>
                        <a class="btn" href="../authentication/user-login-details.html">
                          Login
                        </a>
                      </li>
                      <li class="nav-item user-profile">
                        <a class="nav-link" href="../authentication/signup-details.html">
                          <img src="../../assets/images/user-s.png" class="img-fluid" alt="">
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>
        <section class="">
            <img src="./../../assets/images/canada-bg.jpg" class="img-fluid w-100" alt="">
        </section>
        <section>
            <h1 class="country-title fw-bold text-center text-white m-0">Available Countries</h1>
            <img src="./../../assets/images/cityline-canada 1.jpg" class="img-fluid w-100" alt="">
            <h1 class="country-title fw-bold text-center text-white m-0">Will be expanding to : </h1>
            <div class="container-fluid country-bg-c pt-5 pb-5">
                <div class="row">
                    <div class="col-sm-6 text-center text-sm-end pe-sm-4">
                        <div class="d-inline-block">
                            <img src="./../../assets/images/aus-flag.svg" class="img-fluid" alt="">
                            <h3 class="text-center pt-3 pb-3">Australia</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 ps-sm-4 text-center text-sm-start">
                        <div class="d-inline-block">
                            <img src="./../../assets/images/nza-flag.svg" class="img-fluid" alt="">
                            <h3 class="text-center pt-3 pb-3">New Zealand</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="address">
                            <h3>Contact Us:</h3>
                            <div>
                                <label>Address :</label>
                                <span> 4170 Still Creek Drive Suite 200, Burnaby, British Columbia, Canada
                                </span>
                            </div>
                            <div>
                                <label>Phone :</label> <span>+1 778-387-4627</span>
                            </div>
                            <div>
                                <label>Email :</label> <a href="">help@sevenseascanada.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="news">
                            <h3>Newsletter</h3>
                            <label>Stay updated with our latest blogs.</label>
                            <div class="input-group my-3">
                                <input type="text" placeholder="Enter your Email Address" class="form-control">
                                <button class="btn btn-outline-secondary" type="button">
                                    <img src="../../assets/images/arrow.png" alt="">
                                </button>
                            </div>
                            <label>Blogs</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 text-md-end">
                        <div class="social-ico">
                            <a href=""><img src="../../assets/images/facebook.png"></a>
                            <a href=""><img src="../../assets/images/instagram.png"></a>
                            <a href=""><img src="../../assets/images/twitter.png"></a>
                            <a href=""><img src="../../assets/images/linkedin.png"></a>
                            <a href=""><img src="../../assets/images/mail.png"></a>
                        </div>
                        <label class="d-block">Monday to Friday 8:00AM to 4:30PM</label>
                        <label>Saturday &amp; Sunday: closed</label>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="../../assets/library/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>