<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seven Seas</title>
  <link rel="stylesheet" href="../../assets/library/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
  <main class="about-us">
    <header class="header">
      <div class="top-bar">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <div class="top-bar-left">
              <div class="top-bar-whatsapp">
                <img src="../../assets/images/whatsapp.png" alt="whatsapp">
                <a href="tel:6476274200">(+1) 647 627 4200 Canada</a>
                <a href="tel:7378271567">(+91) 737 827 1567 India</a>
              </div>
            </div>
            <div class="top-bar-right">
              <ul class="list-unstyled m-0">
                <li>
                  <a href="tel:"><span>Toll Free:</span> (+1) 870-SSS-1842</a>
                </li>
                <li>
                  <a href="tel:">inquiries@sevenseas.com</a>
                </li>
                <li>
                  <a href="tel:">admissions@sevenseas.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <nav class="main-nav navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="../../index.html">
            <img src="../../assets/images/logo.svg" class="img-fluid" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto flex-nowrap">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../institutes/institutes.html">Institutes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../programs/programs.html">Programs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../countries/countries.html">Countries</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="../services/international-aspirants.html">International
                      Aspirants</a>
                  </li>
                  <li><a class="dropdown-item" href="../services/recruiting-agent.html">Recruiting
                      Agent</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  About
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="../services/discover-purpose.html">Our
                      Story</a></li>
                  <li><a class="dropdown-item" href="../about/blog.html">Talk & Walk</a></li>
                  <li><a class="dropdown-item" href="../about/management.html">Management</a>
                  </li>
                  <li><a class="dropdown-item" href="../about/featured-news.html">News &
                      Events</a></li>
                  <li><a class="dropdown-item" href="../about/blog-2.html">BLOG</a></li>
                  <li><a class="dropdown-item" href="../about/contact-us.html">CONTACT US</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item auth-buttons">
                <a class="btn mx-md-3" href="../authentication/signup-details.html">
                  Sign Up
                </a>
                <a class="btn" href="../authentication/user-login-details.html">
                  Login
                </a>
              </li>
              <li class="nav-item user-profile">
                <a class="nav-link" href="../authentication/signup-details.html">
                  <img src="../../assets/images/user-s.png" class="img-fluid" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="about-section">
      <div class="d-flex">
        <div class="d-col">
          <div id="list-example" class="list-group sticky-top">
            <img src="../../assets/images/about-logo.png" alt="">
            <a class="list-group-item list-group-item-action active" href="#list-item-1">About</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Location</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Programs</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">Gallery</a>
          </div>
        </div>
        <div class="d-col">
          <h1>UNIVERSITY OF CALIFORNIA - IRVINE</h1>
          <div class="container">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example"
              tabindex="0">
              <h4 class="list-title" id="list-item-1">About</h4>
              <p>In 1965, the University of California, Irvine (UCI) was founded with a mission to catalyze the
                community and enhance lives through rigorous academics, cutting-edge research, and dedicated public
                service. Today, we draw on the unyielding spirit of our pioneering faculty, staff and students who
                arrived on campus with a dream to inspire change and generate new ideas. We believe that true progress
                is made when different perspectives come together to advance our understanding of the world around us.
                And we enlighten our communities and point the way to a better future. At UCI, we shine brighter.</p>
              <p>
                As we look toward the future, UCI is poised to tackle the world’s great challenges and serve our
                community in truly meaningful ways. An anchoring institution of Orange County, UCI is a powerhouse of
                groundbreaking research and discovery – actively partnering with community and business leaders to
                enhance lives and make a difference. We envision a world where society is enriched by the cultural hub
                of art, science and learning only possible at a public university; where the economic structure of
                Southern California explodes with opportunity as UCI innovation meets industry; and where humanity is
                changed for the better by the brilliant ideas and work produced at UCI.
              </p>
              <p>
                At the core of the University of California's mission are three imperatives: education, research and
                public service. These principles are reflected in our pursuit of academic excellence, cutting-edge
                research, and leadership and character development.
              </p>
              <p>
                <strong> We teach </strong>- educating students at all levels, from undergraduate to the most advanced
                graduate level. Undergraduate programs are available to all eligible California high-school graduates
                and community college transfer students who wish to attend the University of California. Instructional
                programs at the undergraduate level transmit knowledge and skills to students. At the graduate level,
                students experience with their instructors the processes of developing and testing new hypotheses and
                fresh interpretations of knowledge. Education for professional careers, grounded in understanding of
                relevant sciences, literature and research methods, provides individuals with the tools to continue
                intellectual development over a lifetime and to contribute to the needs of a changing society. Through
                our academic programs, UC helps create an educated workforce that keeps the California economy
                competitive. And, through University Extension, with a half-million enrollments annually, UC provides
                continuing education for Californians to improve their job skills and enhance the quality of their
                lives.
              </p>
              <p><strong>We do research</strong> - by some of the world's best researchers and brightest students in
                hundreds of disciplines at its campuses, national laboratories, medical centers and other research
                facilities around the state. UC provides a unique environment in which leading scholars and
                promising students strive together to expand fundamental knowledge of human nature, society, and the
                natural world. Its basic research programs yield a multitude of benefits for California: billions of
                tax dollars, economic growth through the creation of new products, technologies, jobs, companies and
                even new industries, agricultural productivity, advances in health care, improvements in the quality
                of life. UC's research has been vital in the establishment of the Internet and the semiconductor,
                software and biotechnology industries in California, making substantial economic and social
                contributions.
              </p>
              <p><strong>We provide public service</strong> - which dates back to UC's origins as a land grant
                institution in the 1860s. Today, through its public service programs and industry partnerships, UC
                disseminates research results and translates scientific discoveries into practical knowledge and
                technological innovations that benefit California and the nation. UC's agricultural extension programs
                serve hundreds of thousands of Californians in every county in the state. Open to all Californians, UC's
                libraries, museums, performing arts spaces, gardens and science centers are valuable public resources
                and community gathering places. The University's active involvement in public-school partnerships and
                professional development institutes help strengthen the expertise of teachers and the academic
                achievement of students in communities throughout California.
              </p>
              <h5>Why the University of California, Irvine</h5>
              <p><strong>Location:</strong> The University of California, Irvine enjoys an incomparable coastal location
                with many advantages for recreational and cultural activities. Our campus is a short bike ride from the
                famed sailing and surfing beaches of Newport, Laguna, and Huntington, and is centrally located to
                hundreds of miles of bike and hiking trails, desert camping, and mountain resorts for snowboarding and
                skiing. Just a few miles from the campus are internationally famous venues such as Disneyland and Angel
                Stadium, and we are less than an hour from Los Angeles International Airport (LAX), Hollywood, Los
                Angeles, and Palm Springs.</p>
              <p>
                <strong> Multicultural community:</strong> The University of California, Irvine is a multicultural
                community of people
                from diverse backgrounds. We are enriched by our mutual respect for one another, and we strive to learn
                from our differences in an atmosphere of positive engagement. Universities exist to provide the
                conditions for hard thought and difficult debate so that individuals can develop the capacity for
                independent judgment. For that reason, tolerance, civility and respect for diversity of background,
                gender, ethnicity, race, religion, political beliefs, sexual orientation and physical abilities are
                crucially important for our campus community to thrive.
              </p>
              <p>
                <strong>Events and activities:</strong> The Activities team creates a quarterly calendar full of various
                events, trips,
                sports, and activities both on and off-campus for students to enjoy. Previous pre-planned activities
                usually included city tours to famous locations, theme parks, museums, beaches, and performances.
              </p>
              <p>
                <strong>Housing:</strong> Depending on your needs and the type of experience you want during your stay,
                International
                Programs offers you different housing options, all of which ensure that you enjoy a safe, clean, fully
                furnished living environment, including University Apartments (which allow you to interact with and
                explore the community while practicing your English in real-life situations), Homestays (which will
                immerse you in American culture within a family environment), and UCI Dorms (which give you the
                opportunity to live on the UCI campus near classrooms, with meal plans available - dorms only available
                in the summer quarter). No matter which one you choose, you’ll be sure to enjoy an authentic American
                living experience!
              </p>
              <h4 class="list-title" id="list-item-2">Location</h4>
              <img src="../../assets/images/about-map.svg" class="w-100 img-fluid" alt="">
              <div class="row align-items-center mt-lg-3">
                <div class="col-md-7">
                  <h4 class="list-title m-0" id="list-item-3">Explore programs of your interest</h4>
                </div>
                <div class="col-md-5">
                  <div class="input-group">
                    <input type="text" placeholder="Search" class="form-control">
                    <button class="btn btn-outline-secondary" type="button">
                      <img src="../../assets/images/search-ico.png" alt="">
                    </button>
                  </div>
                </div>
              </div>
              <div class="pagination-list">
                <div class="row about-programs-item align-items-center">
                  <div class="col-lg-8">
                    <h4>English as a Second language</h4>
                    <div class="d-flex">
                      <div>
                        <label>TUITION FEE</label>
                        <h2>$4,500.00 USD</h2>
                      </div>
                      <div>
                        <label>APPLICATION FEE</label>
                        <h2>$200.00 USD</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 text-center">
                    <a href="#">Apply</a>
                  </div>
                </div>
                <div class="row about-programs-item align-items-center">
                  <div class="col-lg-8">
                    <h4>English as a Second language</h4>
                    <div class="d-flex">
                      <div>
                        <label>TUITION FEE</label>
                        <h2>$4,500.00 USD</h2>
                      </div>
                      <div>
                        <label>APPLICATION FEE</label>
                        <h2>$200.00 USD</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 text-center">
                    <a href="#">Apply</a>
                  </div>
                </div>
                <div class="row about-programs-item align-items-center">
                  <div class="col-lg-8">
                    <h4>English as a Second language</h4>
                    <div class="d-flex">
                      <div>
                        <label>TUITION FEE</label>
                        <h2>$4,500.00 USD</h2>
                      </div>
                      <div>
                        <label>APPLICATION FEE</label>
                        <h2>$200.00 USD</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 text-center">
                    <a href="#">Apply</a>
                  </div>
                </div>
                <div class="row about-programs-item align-items-center">
                  <div class="col-lg-8">
                    <h4>English as a Second language</h4>
                    <div class="d-flex">
                      <div>
                        <label>TUITION FEE</label>
                        <h2>$4,500.00 USD</h2>
                      </div>
                      <div>
                        <label>APPLICATION FEE</label>
                        <h2>$200.00 USD</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 text-center">
                    <a href="#">Apply</a>
                  </div>
                </div>
                <div class="row about-programs-item align-items-center">
                  <div class="col-lg-8">
                    <h4>English as a Second language</h4>
                    <div class="d-flex">
                      <div>
                        <label>TUITION FEE</label>
                        <h2>$4,500.00 USD</h2>
                      </div>
                      <div>
                        <label>APPLICATION FEE</label>
                        <h2>$200.00 USD</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 text-center">
                    <a href="#">Apply</a>
                  </div>
                </div>
                <div class="row about-programs-item align-items-center">
                  <div class="col-lg-8">
                    <h4>English as a Second language</h4>
                    <div class="d-flex">
                      <div>
                        <label>TUITION FEE</label>
                        <h2>$4,500.00 USD</h2>
                      </div>
                      <div>
                        <label>APPLICATION FEE</label>
                        <h2>$200.00 USD</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 text-center">
                    <a href="#">Apply</a>
                  </div>
                </div>
                <div class="row about-programs-item align-items-center">
                  <div class="col-lg-8">
                    <h4>English as a Second language</h4>
                    <div class="d-flex">
                      <div>
                        <label>TUITION FEE</label>
                        <h2>$4,500.00 USD</h2>
                      </div>
                      <div>
                        <label>APPLICATION FEE</label>
                        <h2>$200.00 USD</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 text-center">
                    <a href="#">Apply</a>
                  </div>
                </div>
                <div class="row about-programs-item align-items-center">
                  <div class="col-lg-8">
                    <h4>English as a Second language</h4>
                    <div class="d-flex">
                      <div>
                        <label>TUITION FEE</label>
                        <h2>$4,500.00 USD</h2>
                      </div>
                      <div>
                        <label>APPLICATION FEE</label>
                        <h2>$200.00 USD</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 text-center">
                    <a href="#">Apply</a>
                  </div>
                </div>
              </div>
              <div class="mt-4 pb-5" id="paginationTabs">
                <div class="row justify-content-md-between">
                  <div class="col-12 text-center">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
              
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <h4 class="list-title" id="list-item-4">Gallery</h4>
              <div id="carouselExampleControls" class="about-gallery carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../assets/images/study-bg.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/study-bg.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/study-bg.png" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="address">
              <h3>Contact Us:</h3>
              <div>
                <label>Address :</label>
                <span> 4170 Still Creek Drive Suite 200, Burnaby, British Columbia, Canada
                </span>
              </div>
              <div>
                <label>Phone :</label> <span>+1 778-387-4627</span>
              </div>
              <div>
                <label>Email :</label> <a href="">help@sevenseascanada.com</a></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="news">
              <h3>Newsletter</h3>
              <label>Stay updated with our latest blogs.</label>
              <div class="input-group my-3">
                <input type="text" placeholder="Enter your Email Address" class="form-control">
                <button class="btn btn-outline-secondary" type="button">
                  <img src="../../assets/images/arrow.png" alt="">
                </button>
              </div>
              <label>Blogs</label>
            </div>
          </div>
          <div class="col-12 col-md-4 text-md-end">
            <div class="social-ico">
              <a href=""><img src="../../assets/images/facebook.png"></a>
              <a href=""><img src="../../assets/images/instagram.png"></a>
              <a href=""><img src="../../assets/images/twitter.png"></a>
              <a href=""><img src="../../assets/images/linkedin.png"></a>
              <a href=""><img src="../../assets/images/mail.png"></a>
            </div>
            <label class="d-block">Monday to Friday 8:00AM to 4:30PM</label>
            <label>Saturday &amp; Sunday: closed</label>
          </div>
        </div>
      </div>
    </footer>
  </main>
  <script src="../../assets/library/bootstrap/js/bootstrap.min.js"></script>
  <script>
    var scrollSpy = new bootstrap.ScrollSpy(document.body, {
      target: '#navbar-example'
    })
  </script>
  <script>
    (() => {
        const pTabs = document.querySelector("#paginationTabs ul");
        const limit = 5;
        let startVisibleCount = 0;
        let endVisibleCount = limit;
        let totalNodes = document.querySelectorAll(".pagination-list>div");
        let totalTabs = Math.ceil(totalNodes.length / limit);
        if(totalTabs<2){
            document.querySelector("#paginationTabs").classList.add("d-none")
        }
        const showVisible = () => {
            totalNodes.forEach((elm, index) => {
                elm.classList.add("d-none")
                if ((startVisibleCount <= index && index < endVisibleCount) && elm)
                    elm.classList.remove("d-none")
            });
            console.log(startVisibleCount, endVisibleCount)
        }
        showVisible();
        const appendNodes = () => {
            let html = "";
            for (let node = 0; node < totalTabs; node++) {
                html += `<li class="page-item"><button class="page-link" href="#">${node + 1}</button></li>`;
            }
            return html;
        };
        const _html = `
                    <li class="page-item d-none"><button class="page-link" href="#">Previous</button></li>
                    ${appendNodes()}
                    <li class="page-item"><button class="page-link " href="#">Next</button></li>
                `;
        pTabs.innerHTML = _html;
        pTabs.children[1].classList.add("active")
        document.querySelectorAll("#paginationTabs ul li button").forEach(res => {
            res.addEventListener("click", (e) => {
                if (parseInt(e.currentTarget.textContent)) {
                    manipulateClass(e);
                } else if (e.currentTarget.textContent === 'Next') {
                    manipulateClass(e, 'Next');
                } else {
                    manipulateClass(e, "Prev");
                }
            }, false)
        })
        function manipulateClass(e, type = null) {
            if (!type) {
                document.querySelectorAll("#paginationTabs ul li").forEach(res => res.classList.remove("active"))
                endVisibleCount = parseInt(e.currentTarget.textContent) * limit;
                startVisibleCount = endVisibleCount - limit;
                showVisible();
            }
            e.currentTarget.parentNode.classList.add("active")
            let nodeCount = Array.from(document.querySelectorAll("#paginationTabs ul li"));
            prevNext(e, type, nodeCount);
            if (nodeCount.indexOf(e.currentTarget.parentNode) > 1 && type !== 'Prev')
                nodeCount[0].classList.remove("d-none");
            else if (type !== 'Prev') nodeCount[0].classList.add("d-none")
            if ((nodeCount.length - 2) === nodeCount.indexOf(e.currentTarget.parentNode) && type !== 'Next')
                nodeCount[nodeCount.length - 1].classList.add("d-none");
            else if (type !== 'Next') nodeCount[nodeCount.length - 1].classList.remove("d-none")
        }
        function prevNext(e, type, nodeCount) {
            if (type === 'Next') {
                startVisibleCount = endVisibleCount;
                endVisibleCount += limit;
                showVisible();
                document.querySelector("#paginationTabs ul li.active").nextSibling.classList.add("active")
                document.querySelector("#paginationTabs ul li.active").classList.remove("active")
                if ((nodeCount.length - 2) === nodeCount.indexOf(document.querySelector("#paginationTabs ul li.active"))) {
                    nodeCount[nodeCount.length - 1].classList.remove("active")
                    nodeCount[nodeCount.length - 1].classList.add("d-none")
                }
            } else if (type === 'Prev') {
                endVisibleCount = endVisibleCount - limit;
                startVisibleCount = endVisibleCount - limit;
                showVisible();
                document.querySelectorAll("#paginationTabs ul li.active")[1].previousSibling.classList.add("active")
                document.querySelectorAll("#paginationTabs ul li.active")[1].nextSibling.classList.remove("active");
                if (nodeCount.indexOf(e.currentTarget.parentNode) === (nodeCount.indexOf(document.querySelectorAll("#paginationTabs ul li.active")[1]) - 1)) {
                    nodeCount[0].classList.remove("active")
                    nodeCount[0].classList.add("d-none")
                }
            }
        }
    })();
</script>
</body>

</html>