main.institutes {
    .institute-bg {
        background: url(./../../assets/images/page-institutes-hero.svg);
        background-size: cover; 
    }
    .institutes-type-2-bg {
        background: url(./../../assets/images/page-institutes-type-2-bg.svg);
        background-size: cover;
    }
    .industries-layout {
        background: #91aabb;
    }
    .industries-layout-2 {
        background: #ABC5B2;
    }
    .selected-countries .badge {
        background: #005793;
        color: #e5e5e5;
        &.badge-2 {
            background: #003334;
        }
        &.selected {
            background: #00164F;
            a {
                color: #e5e5e5;
                text-decoration: none;
            }
        }
    }
    .dropdown button {
        font-size: 30px;
        color: #243665;
        font-weight: 300;
        &.dropdown-toggle::after {
            content: none;
        }
        img {
            transition: 0.5s ease-in-out;
        }
        &.active {
            + .dropdown-menu {
                display: block;
                width: 100%;
                top: 94px;
                border-radius: 20px 20px;
                font-size: 24px;
                padding: 0;
                li {
                    border-radius: 20px;
                    a {
                        border-radius: 20px;
                        padding-left: 48px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        color: #243665;
                        font-weight: 300;
                        &:hover,
                        &:active,
                        &:focus {
                            border-radius: 20px;
                        }
                        &:active {
                            background-color: #91aabb;
                            color: black;
                        }
                    }
                }
            }
            img {
                transform: rotate(180deg);
            }
        }
    }
    .university-list {
        .badge {
            width: 100%;
            white-space: normal;
            border-radius: 20px;
            p {
                color: #1f1f1f;
                font-weight: 600;
                line-height: 1.1;
            }
        }         
    }
}
