@media screen and (max-width:1399px) {
  main .online-booking .booking-bg {
    background-size: 40%;
  }

  main.international-apirants .home-hero.int-service-bg {
    background-size: 90%;
  }

  main .home-hero h2 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width:1200px) {
  main .online-booking .booking-bg ul li>span .text {
    font-size: 22px;
  }

  main .home-hero h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  main .home-hero p {
    font-size: 22px;
  }

  .common-btn,
  main .career-choice .common-btn,
  main .btn-size-32 {
    border-radius: 12px;
    font-size: 22px;
    padding: 8px 28px;
  }

  main .online-booking .booking-bg {
    height: 380px;
  }

  main .services .title h2,
  main .career-choice p,
  main .international-exp p,
  main .international-exp ul li {
    font-size: 22px;
  }

  main .services .title {
    width: 315px;
  }

  main .services,
  main .consult-us,
  main .connect-us,
  main .student-assist,
  main .career-choice,
  main .international-exp,
  main .recruitment-agent,
  main .partner,
  main .online-booking,
  main.international-apirants .career-programs {
    padding: 36px 0 55px;
  }

  main .connect-us h1,
  main .connect-us ul li,
  main .career-choice h4,
  main .consult-us h4,
  main .recruitment-agent p,
  main .partner p {
    font-size: 24px;
  }

  main .consult-us .common-btn {
    background-color: #58019C;
    color: #fff;
    margin: 70px 0 0;
  }

  main .student-assist p,
  main .recruitment-agent h3,
  main .partner h2 {
    font-size: 32px;
  }

  .label-ribben {
    border-radius: 14px 0;
    font-size: 26px;
    padding: 8px 20px;
  }

  main .programs {
    padding: 92px 96px;
  }

  main.international-apirants.discover-purposes blockquote {
    padding: 42px 42px 208px 30px;
  }

  main.institutes .university-list .badge p {
    font-size: 18px !important;
  }

  main.user .sinup-details img.image-position {
    left: 59px;
    z-index: 1;
    top: -56px;
  }
}

@media screen and (max-width:992px) {

  main .header .top-bar .top-bar-left .top-bar-whatsapp a,
  main .header .top-bar .top-bar-right ul li a {
    padding: 0 3px;
  }

  .top-bar-right {
    text-align: right;
  }

  main .header .main-nav {
    padding: 8px 0;
  }

  main .header .main-nav .navbar-brand img {
    width: 70px;
  }

  main .header .main-nav .navbar-nav {
    align-items: flex-end;
  }

  main .services,
  main .consult-us,
  main .connect-us,
  main .student-assist,
  main .career-choice,
  main .international-exp,
  main .recruitment-agent,
  main .partner,
  main .online-booking,
  main.international-apirants .career-programs {
    padding: 30px 0 36px;
  }

  main .online-booking .booking-bg ul li>span {
    height: 35px;
  }

  main .online-booking .booking-bg ul li:first-child img,
  main .online-booking .booking-bg ul li:nth-child(2) .img,
  main .online-booking .booking-bg ul li:nth-child(3) .img {
    width: 35px;
    height: 35px;
  }

  main .online-booking .booking-bg ul li:nth-child(2) .img img,
  main .online-booking .booking-bg ul li:nth-child(3) .img img {
    width: 20px;
  }

  main .online-booking .booking-bg {
    height: auto;
  }

  main .services .services-card .card img {
    width: auto;
    height: auto;
  }

  main .services .services-card {
    display: block;
  }

  main .services .services-card .card {
    margin: 35px 48px;
    width: auto;
  }

  main .services .title {
    margin: 0;
  }

  main .student-assist p,
  main .partner p {
    font-size: 20px;
  }

  .international-exp img {
    margin-top: 30px;
  }

  main .partner h2,
  main.international-apirants .online-booking.online-booking-int-asp h2,
  main.international-apirants .fs-36 {
    font-size: 24px;
  }

  main.international-apirants .fw-500,
  main.international-apirants .online-booking.online-booking-int-asp .tructed-text,
  main.international-apirants .career-programs .right-section,
  main.international-apirants .primary-btn {
    font-size: 24px !important;
  }

  main .footer .social-ico a {
    margin-left: 7px;
  }

  main .footer {
    padding: 20px 0 20px;
  }

  main.international-apirants .carousel-dark .carousel-indicators [data-bs-target] {
    margin-right: 82px;
    margin-left: 82px;
  }

  main.international-apirants .carousel-dark .carousel-indicators [data-bs-target]:not(:last-child)::after {
    width: 82px;
    left: 90px;
  }

  main.international-apirants .carousel-dark .carousel-indicators [data-bs-target].active::before {
    top: -23px;
    transform: scale(0.7);
  }

  main.international-apirants .study-section .btn-style,
  main.international-apirants .fs-48 {
    font-size: 28px;
  }

  main .programs {
    padding: 50px 0px;
  }

  main.international-apirants.discover-purposes .h-40 {
    font-size: 16px;
  }

  main.international-apirants.discover-purposes .bg-pinkish-magenta,
  main.international-apirants.learning-path .btn-violate,
  main.international-apirants.learning-path .btn-skyblue,
  main.institutes .university-list .badge p,
  main.institutes .selected-countries .badge {
    font-size: 16px !important;
  }

  main.institutes .dropdown button {
    font-size: 25px;
    padding: 15px !important;
  }

  main.institutes .dropdown button.active+.dropdown-menu {
    top: 70px;
  }

  main.about-us .about-section>.d-flex {
    flex-direction: column;
  }

  main.about-us .about-section>.d-flex .d-col:first-child .list-group {
    padding: 10px 25px;
  }

  main.about-us .about-section>.d-flex .d-col:first-child .list-group img {
    width: 100px;
    height: 100px;
    margin: 0;
  }

  main.about-us .about-section>.d-flex .d-col:first-child .list-group {
    flex-direction: row;
    align-items: center;
  }

  main.about-us .about-section>.d-flex .d-col:first-child .list-group a {
    text-align: center;
    font-size: 18px;
  }

  main.about-us .about-section>.d-flex .d-col:last-child>h1 {
    padding: 20px;
    font-size: 26px;
  }

  main.about-us .about-section>.d-flex .d-col:last-child .container {
    padding: 0 20px;
  }

  main.about-us .about-section>.d-flex .d-col:last-child .container .about-gallery {
    padding-bottom: 50px;
  }

  main.about-us .about-section>.d-flex .d-col:last-child .container .about-gallery .carousel-control-prev-icon,
  main.about-us .about-section>.d-flex .d-col:last-child .container .about-gallery .carousel-control-next-icon {
    width: 30px;
    height: 63px;
  }

  main.user .sinup-details img.image-position {
    display: none;
  }
}

@media screen and (max-width:768px) {

  main .home-hero.home-hero-bg,
  main .online-booking .booking-bg,
  main.international-apirants .home-hero.int-service-bg,
  main.international-apirants .int-recruiting-agent,
  main.international-apirants.discover-purposes .home-hero.discover-bg,
  main.international-apirants.discover-purposes blockquote,
  main.international-apirants.learning-path .learning-bg,
  main.user .bg-login {
    background: none;
  }

  main .online-booking .booking-bg ul li>span {
    display: flex
  }

  main .services .title h2,
  .common-btn,
  main .consult-us h4,
  main .home-hero p,
  main .online-booking .booking-bg ul li>span .text,
  .common-btn,
  main .career-choice .common-btn,
  main .international-exp p,
  main .international-exp ul li,
  main.international-apirants .fs-48 {
    font-size: 16px;
  }

  main .services .services-card .card {
    margin: 35px 0;
  }

  main .consult-us .common-btn {
    margin: 25px 0;
  }

  main .online-booking .booking-bg {
    justify-content: center;
  }

  main .connect-us h1,
  main .connect-us ul li,
  main .career-choice h4,
  main .consult-us h4,
  main .recruitment-agent p,
  main .partner p,
  main .career-choice p,
  .label-ribben,
  main .partner h2,
  main.international-apirants .fs-36,
  main .programs .card .title h3,
  main.about-us .about-section>.d-flex .d-col:last-child .container .list-title,
  main.about-us .about-section>.d-flex .d-col:last-child .container .about-programs-item h2,
  main.about-us .about-section>.d-flex .d-col:last-child .container .about-programs-item a {
    font-size: 18px;
  }

  main .programs .card {
    margin-bottom: 50px;

    .title {
      height: 100px;
    }
  }

  main.international-apirants .fw-500,
  main.international-apirants .online-booking.online-booking-int-asp .tructed-text {
    font-size: 18px !important;
    margin: 0;
  }

  main .consult-us .common-btn.orange-color {
    margin: 10px 0;
  }

  .career-choice img,
  .recruitment-agent img,
  .international-exp img,
  .connect-us img,
  main.international-apirants.discover-purposes blockquote::before,
  main.international-apirants.discover-purposes blockquote::after {
    display: none;
  }

  main.international-apirants.discover-purposes blockquote {
    padding: 0;
  }

  main .recruitment-agent h3,
  main.about-common .management h4,
  main.about-common .management p {
    font-size: 24px !important;
  }

  .partner .d-flex {
    display: block !important;
  }

  main .footer .social-ico {
    margin-top: 20px;
  }

  main .top-bar-right {
    text-align: left;
  }

  main .header .top-bar .container>.d-flex {
    display: block !important;
  }

  main .online-booking .booking-bg ul li:first-child .text {
    line-height: 2;
  }

  main.international-apirants .carousel-dark .carousel-indicators [data-bs-target] {
    margin-right: 50px;
    margin-left: 50px;
  }

  main.international-apirants .carousel-dark .carousel-indicators [data-bs-target]:not(:last-child)::after {
    width: 50px;
    left: 75px;
  }

  .student-facilities img,
  main.about-us .about-section>.d-flex .d-col:first-child {
    display: none;
  }

  main.international-apirants .study-section .btn-style,
  main.contact-us .form label {
    font-size: 24px !important;
    margin-top: 20px !important;
  }

  .common-peach-section .title,
  main.about-common .management .experts-voice h2,
  main.countries .country-title,
  main.countries .country-bg-c h3 {
    font-size: 36px;
  }

  main.international-apirants.learning-path .home-hero.learning-bg p {
    font-size: 16px !important;
  }

  main.about-common h1 {
    font-size: 1.5rem;
    align-items: center;
  }

  main.about-us .about-section>.d-flex .d-col:last-child .container .list-title,
  main.about-us .about-section>.d-flex .d-col:last-child .container .about-gallery {
    padding: 10px 0;
  }

  main.about-us .about-section>.d-flex .d-col:last-child .container p,
  main.about-us .about-section>.d-flex .d-col:last-child .container p strong {
    font-size: 14px;
  }

  main.about-us .about-section>.d-flex .d-col:last-child .container .input-group {
    margin-bottom: 20px;
  }

  main.about-us .about-section>.d-flex .d-col:last-child .container .about-programs-item h4,
  main.about-us .about-section>.d-flex .d-col:last-child .container .about-programs-item label {
    margin-bottom: 5px;
  }

  main.contact-us .form h4 {
    font-size: 30px;
    padding: 15px;
  }

  main.contact-us .form ul {
    padding: 30px 0;
  }
  main.user .sinup-details-seps .form-wrapper .play-icons.d-flex{
    bottom: -6em;
    position: absolute;
    right: 0px;
    transform: scale(0.6);
  }
}

@media screen and (max-width:576px) {
  main .online-booking .booking-bg ul li>span .text {
    font-size: 12px;
  }

  main .online-booking .booking-bg ul li:first-child .text {
    line-height: 3;
  }

  main.international-apirants .primary-btn,
  main.about-common h1 {
    font-size: 16px !important;
  }

  main .programs .card,
  main .programs .card .title,
  main .programs .card .img {
    width: 100%;
  }

  main.about-common h1 {
    font-size: 16px !important;

    img {
      width: 40px;
      padding: 10px !important;
    }
  }

  main.institutes .dropdown button {
    font-size: 18px;
    padding: 15px !important;
    width: 100%;
  }
}